:root {
    --primery-text-color: #434455;
    --hero-background: rgba(46, 47, 66, 0.7);
    --form-border-color: rgba(33, 33, 33, 0.2);
    --form-text-color: #8E8F99;
    --form-textarea-color: rgba(117, 117, 117, 0.5);
    --form-policy-color: #757575;
    --primery-background-color: #ffffff;
    --header-color-line: #E7E9FC;
    --title-text-color: #2E2F42;
    --link-color: #4D5AE5;
    --link-color-hover: #404BBF;
    --footer-desc-color: #E7E9FC;
    --btn-background-color: #F4F4FD;
    --icon-color: #AFB1B8;
    --footer-soc-bacground: rgba(255, 255, 255, 0.1);
    --footer-soc-hov-bacground:  #31D0AA;
    --backdrop-background: rgba(46, 47, 66, 0.4);
    --modal-batton-color: #000000;
    --sub-title-color: rgba(255, 255, 255, 0.6);
    --sub-border-color: rgba(255, 255, 255, 0.3);
}

h1, 
h2, 
h3, 
h4, 
h5, 
h6,
ul, 
p {
    margin: 0;
    padding: 0;
}

.list {
    list-style: none;
}

body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    color: var(--primery-text-color);
    background-color: var(--primery-background-color);
    letter-spacing: 0.02em;
}

.site-img {
    display: block;
}

.header-line {
    border-bottom: 1px solid var(--header-color-line);
}

/* logo */
.logo {
    text-align: left;
    text-decoration: none;
    font-weight: 800;
    font-size: 18px;
    color: var(--link-color);
    font-family: 'Raleway';
    letter-spacing: 0.03em;
}

.logo-item {
    color: var(--title-text-color);
}

/* Header */
.container {
    min-width: 320px;
    max-width: 1158px;
    padding-left: 16px;
    padding-right: 16px;
    margin-left: auto;
    margin-right: auto;
}
  
.page-header {
    padding: 23px 0;
    box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 1px 6px rgba(46, 47, 66, 0.08);
}
  
.page-header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}



.menu-toggle {
    min-height: 24px;
    min-width: 24px;
    display: flex;
    align-items: center;
    justify-content: center;

    margin: 0;
    padding: 0;
    background-color: transparent;
    cursor: pointer;
    border: none;
    border-radius: 50%;
    outline: none;
}
  
.menu-toggle.js-close-menu {
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: var(--footer-desc-color);
}

.menu-toggle.js-close-menu:is(:hover, :focus) {
    background-color: var(--link-color);
    fill: var(--primery-background-color);
}
  
.menu-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--primery-background-color);
    z-index: 999;
    transform: translateX(100%);
    transition: transform 250ms ease-in-out;
}

@media screen and (min-width: 768px) {
    .page-header {
        padding: 0;
    }
    
    .menu-container,
    .menu-toggle {
        display: none;
    }    
}

.menu-container.is-open {
    transform: translateX(0);
}

.menu-container .menu-toggle {
    position: absolute;
    top: 16px;
    right: 16px;
    color: var(--primery-background-color);
}

.mobile-menu {
    padding: 80px 40px 40px 40px;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.mobile-link-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
  }

.mobile-link-container.list {
    margin-bottom: auto;
}
  
.mobile-nav-link {
    text-decoration: none;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.111;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--title-text-color);
}

.mobile-nav-link.current {
    color: var(--link-color);
}

.mobile-nav-link:is(:hover, :focus){
    color: var(--link-color);
}

.mobile-adress {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.mobile-adress.list {
    margin-bottom: 48px;
}

.mobile-adress-items {
    text-decoration: none;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    letter-spacing: 0.02em;
    color: var(--primery-text-color);
}

.mobile-adress-items.phone {
    font-weight: 600;
    font-size: 36px;
    line-height: 1.111;
    text-transform: capitalize;
}

.mobile-adress-items.phone:is(:hover, :focus) {
    color: var(--link-color);
}

.mobile-adress-items:is(:hover, :focus) {
    color: var(--link-color);
}

.mobile-social-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    padding: 0px;
}

.mobile-social-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--link-color);

    transition: background-color var(--transition);
  }

.mobile-social-icon {
    fill: var(--primery-background-color);
}

.mobile-social-link:is(:hover, :focus) {
    background-color: var(--link-color-hover);
}

/*Link for other pages*/
.menu {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    padding: 0px;
    gap: 40px;
}

.site-nav-link {
    position: relative;
    display: block;
    padding-top: 24px;
    padding-bottom: 22px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--title-text-color);
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav-link.current {
    color: var(--link-color);
}

.current::before {
    content: '';
    position: absolute;
    bottom: -1px;
    left: 0;

    margin: 0;
    padding: 0;

    border-bottom: 4px solid var(--link-color);
    border-radius: 2px;
    width: 100%;
}

.site-nav-link:hover,
.site-nav-link:focus {
    color: var(--link-color);
}

.address-container {
    display: flex;
    flex-direction: column;
    padding: 0px;
    gap: 12px;
}

.adress-items {
    display: flex;
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.333;
    letter-spacing: 0.04em;
    color: var(--primery-text-color);
}

.adress-items:is(:hover, :focus) {
    color: var(--link-color);
}

@media (max-width: 767px) {
    .site-nav-container,
    .address-container {
        display: none;
    }
}

@media screen and (min-width: 480px) {
    .container {
      width: 428px;
      margin: 0 auto;
    }
}

@media screen and (min-width: 768px) {
    .container {
        width: 768px;
    }

    .site-nav-container{
        display: flex;
        align-items: center;
    }
}

@media screen and (min-width: 1200px) {
    .container {
        width: 1158px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .page-header.container {
        display: flex;
    }

    .logo {
        margin-right: 76px;
    }
    
    .site-adress {
        margin-left: auto;
    }

    .address-container {
        display: flex;
        flex-direction: row;
        padding: 0px;
        gap: 40px;
    }

    .adress-items {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em
    }
}

/* Section style */
.section{
    padding-top: 96px;
    padding-bottom: 96px;
}

@media screen and (min-width: 1200px) {
    .section{
        padding-top: 120px;
        padding-bottom: 120px;
    }
}

/* Hero sections */
.hero {
    padding: 112px 0;
    max-width: 100%;
    margin-left: auto;
    margin-right: auto;    
    background-image: linear-gradient(to right,
        var(--hero-background),
        var(--hero-background)),
        url(../images/background/hero-background-mobile.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    text-align: center;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .hero-bgc {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)),
      url(../images/background/hero-background-mobile@2x.jpg);
  }
}

.hero-caption {
    max-width: 319px;
    width: 100%;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 72px;
    text-align: center;
    color: var(--primery-background-color);
}

.hero-btn {
    padding: 16px 32px;
    min-width: 169px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--link-color);
    color: var(--primery-background-color);
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
    background-color: var(--link-color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Tablet desktop */
@media screen and (min-width: 768px) {
    .hero {
        padding-bottom: 192px;
        padding-top: 192px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/background/hero-background-tablet.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .hero-caption {
        max-width: 496px;
        font-size: 56px;
        line-height: 1.07;
        margin-bottom: 40px;
    }
}

@media (min-device-pixel-ratio: 2) and (min-width: 768px),
(min-resolution: 192dpi) and (min-width: 768px),
(min-resolution: 2dppx) and (min-width: 768px) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/background/hero-background-tablet@2x.jpg);
    }
}

/* Hero desktop */
@media screen and (min-width: 1200px) {
    .hero {
        padding: 188px 0;
        max-width: 1440px;
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/background/hero-background.jpg);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    .hero-caption {
        font-weight: 600;
        margin-bottom: 48px;
    }
}

@media (min-device-pixel-ratio: 2) and (min-width: 1200px),
(min-resolution: 192dpi) and (min-width: 1200px),
(min-resolution: 2dppx) and (min-width: 1200px) {
    .hero {
        background-image: linear-gradient(
            rgba(46, 47, 66, 0.7),
            rgba(46, 47, 66, 0.7)
            ),
            url(../images/background/hero-background@2x.jpg);
    }
}

/* backdrop and modal */
.backdrop {
    display: block;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: var(--backdrop-background);
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    pointer-events: none;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    background-color: var(--primery-background-color);
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 
        0px 1px 1px rgba(0, 0, 0, 0.14),
        0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    justify-content: flex-end;
    transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .modal-button {
    position: absolute;
    top: 24px;
    right: 24px;

    display: flex;
    fill: var(--modal-batton-color);
    width: 24px;
    height: 24px;
    align-items: center;
    justify-content: center;
    background-color: var(--header-color-line);
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .modal-button:is(:hover, :focus) {
    fill: var(--primery-background-color);
    background-color: var(--link-color-hover);
  }

@media screen and (max-width: 479px) {
    .modal {
        max-width: 392px;
        width: calc(100% - 36px);
        min-height: 586px;
    }
}

@media screen and (max-width: 392px) {
    .modal {
        width: 300px;
    }
}

  /* Modal form */
.form {
    padding: 72px 24px 24px 24px;
}

.form-field {
    margin: 0 0 8px 0;
    padding: 0;
}

.form-title {
    margin-bottom: 16px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
}

.form-label {
    display: block;
    text-align: left;
    margin-bottom: 4px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--form-text-color);
}

.form-inpud-container{
    position: relative;
}

.form-input {
    width: 100%;
    height: 40px;
    padding: 0 38px;
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--form-textarea-color);

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:is(:hover, :focus),
.comment:is(:hover, :focus) {
    border: 1px solid var(--link-color-hover);
}

.form-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    transform: translateY(-50%);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:is(:hover, :focus) + .form-icon {
    fill: var(--link-color-hover);
}

.comment {
    margin-bottom: 16px;
    padding: 8px 16px;
    width: 100%;
    height: 120px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--form-textarea-color);
    border: 1px solid var(--form-border-color);
    border-radius: 4px;
    resize: none;
}

.polic {
    display: flex;
    align-items: center;
    margin-bottom: 24px;
    width: 100%;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--form-policy-color);
}

.polic-chek {
    display: inline-block;
    width: 16px;
    height: 16px;
    margin-right: 8px;
    flex-shrink: 0;

    border: 1.25px solid var(--title-text-color);
    border-radius: 2px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.checkbox:focus + .polic-chek { 
    border-color: var(--link-color-hover);
}

.checkbox:checked + .polic-chek {
    border: 1px solid var(--link-color-hover);
    background-color: var(--link-color-hover);
    background-image: url(../images/vector.svg);
    background-size: 10px 8px;
    background-repeat: no-repeat;
    background-origin: border-box;
    background-position: center;
}

.polic-link {
    padding-left: 3px;
    font-size: 12px;
    line-height: 1.3;
    letter-spacing: 0.04em;
    color: var(--link-color);
}

.form-button {
    padding: 16px 32px;
    min-width: 169px;
    font-family: inherit;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    background-color: var(--link-color);
    color: var(--primery-background-color);
    border-color: transparent;
    cursor: pointer;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-radius 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-button:is(:hover, :focus) {
    background-color: var(--link-color-hover);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
}

/* Hidden caption */
.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

/* Feature */
.feature-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0px;
    gap: 72px;
}

.feature-items{
    width: 100%;
}

.feature-captions {
    margin-bottom: 8px;
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    text-align: center;
}

.feature-title {
    width: 100%;
    max-width: 396px;
    font-size: 16px;
    line-height: 1.5;
}

.icon-container {
    display: none;
}

/* Feature */
@media screen and (min-width: 768px) {
    .feature-item {
        flex-direction: row;
        flex-wrap: wrap;
        column-gap: 24px;
        row-gap: 72px;
    }
    .feature-items {
        flex-basis: calc((100% - 2 * 24px) / 2);
    }
    .feature-captions {
        text-align: start;
    }
    
    .feature-title {
      width: 356px;
    }
}
  
/* Feature */
@media screen and (min-width: 1200px) {
    .feature-item {
        display: flex;
        gap: 24px;
    }
    
    .feature-items {
        flex-basis: calc((100% - 72px) / 4);
    }

    .icon-container {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 264px;
        height: 112px;
        background: var(--btn-background-color);
        border-radius: 4px;
        margin-bottom: 8px;
    }

    .feature-captions {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        margin-bottom: 8px;
    }

    .feature-title {
        width: 264px;
    } 
}

/* What are we doing */
.work {
    display: none;
}

@media screen and (min-width: 1200px) {
    .work {
        display: block;
    }

    .work.section {
        margin-top: -120px;
    }

    .work-item {
        display: flex;
        gap: 24px;
    }

    .work-items {
        flex-basis: calc((100% - 48px) / 3);
    }

    .general-title {
        font-weight: 600;
        font-size: 36px;
        line-height: 1.11;
        text-align: center;
        text-transform: capitalize;
        letter-spacing: 0.02em;
        color: var(--dark);
        margin-bottom: 72px;
    }
}

/* Our Team */
.team {
    background-color: var(--btn-background-color);
}

.general-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    letter-spacing: 0.02em;
    color: var(--title-text-color);
    margin-bottom: 72px;
}

.team-item {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 72px;
}

.team-items {
    background-color: var(--primery-background-color);
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
        0px 1px 1px rgba(46, 47, 66, 0.16),
        0px 2px 1px rgba(46, 47, 66, 0.08);
    border-radius: 0px 0px 4px 4px;
}

.team-desc{
    padding: 32px 16px;
}

.team-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: center;
    color: var(--title-text-color);
}

.team-prof {
    margin-bottom: 8px;
    font-size: 16px;
    line-height: 1.5;
    text-align: center;
}

.social-icon-list {
    display: flex;
    justify-content: space-between;
}

.social-icon-link {
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--link-color);
    border-radius: 50%;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon-link:hover,
.social-icon-link:focus {
    background-color: var(--link-color-hover);
}

/* Team tablet */
@media screen and (min-width: 768px) {  
    .team-item {
        gap: 64px 24px;
    }

    .team-items {
        max-width: 264px;
        flex-basis: calc((100% - 24px) / 2);
    }
}


/* Team Desktop */
@media screen and (min-width: 1200px) {
    .team-item {
        gap: 24px;
    }

    .team-items {
        max-width: 264px;
        flex-basis: calc((100% - 3 * 24px) / 4);
    }
}

/* Customers */
.customer-item {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 16px;
}

.customer-link {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--primery-background-color);
    border: 1px solid var(--icon-color);
    border-radius: 4px;
    height: 88px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover,
.customer-link:focus {
    border: 1px solid var(--link-color-hover);
}

.customer-icon {
    fill: var(--icon-color);

    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customer-link:hover .customer-icon,
.customer-link:focus .customer-icon {
    fill: var(--link-color-hover);
}

/* Customers tablet */
@media screen and (min-width: 768px) {
    .customer-item {
        gap: 72px 24px;
    }

    .customer-items {
        flex-basis: calc((100% - 48px) / 3);
    }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
    .customer {
        width: 552px;
        margin: 0 auto;
    }
}

/* Customers-Desktop */
@media screen and (min-width: 1200px) {
    .customer-item {
        flex-wrap: nowrap;
    }

    .customers-items {
        width: calc((100% - 120px) / 6);
    }
}

/* Works */
.section.portfolio {
    padding-top: 46px;
}

.btn{
    max-width: 428px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 16px 24px;
    margin-bottom: 48px;
}

.btn-item {
    padding: 12px 24px;
    justify-content: center;
    align-items: center;
    background-color: var(--btn-background-color);
    border: 1px solid var(--footer-desc-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--link-color);
    font-family: 'Roboto';
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-item:hover,
.btn-item:focus {
    cursor: pointer;
    background-color: var(--link-color);
    color: var(--primery-background-color);
    box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 
        0px 2px 1px rgba(0, 0, 0, 0.08), 
        0px 2px 2px rgba(0, 0, 0, 0.12);
    border-color: transparent;
}

.work-primery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 48px 24px;
}

/* Tablet btn*/
@media screen and (min-width: 768px) {
    .btn{
        max-width: 767px;
        display: flex;
        justify-content: center;
        gap: 24px;
        margin-bottom: 64px;
    }

    .work-primery {
        flex-wrap: wrap;
        justify-content: start;
        gap: 72px 24px;
    }

    .work-item-list {
        max-width: 356px;
        flex-basis: calc((100% - 24px) / 2);
    }
}

@media screen and (min-width: 1158px) {
    .btn{
        max-width: 1158px;
        margin-bottom: 72px;
    }

    .work-primery {
        flex-wrap: wrap;
        justify-content: center;
        gap: 48px 24px;
    }

    .work-item-list {
        flex-basis: calc((100% - 48px) / 3);
    }
}


.overlay-container {
    position: relative;
    overflow: hidden;
}

.overlay-desc {
    position: absolute;
    display: inline-block;
    content: '';
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: var(--link-color);
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-title {
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--btn-background-color);
}

.work-item-list a:is(:hover, :focus) .overlay-desc {
    transform: translateY(0);
}

.work-item-list a{
    display: block;
    text-decoration: none;
    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.work-item-list a:is(:hover, :focus) {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08), 
        0px 1px 1px rgba(46, 47, 66, 0.16), 
        0px 2px 1px rgba(46, 47, 66, 0.08);
    cursor: pointer;
}


.work-cont-desc {
    padding: 32px 16px;
    border-right: 1px solid var(--header-color-line);
    border-left: 1px solid var(--header-color-line);
    border-bottom: 1px solid var(--header-color-line);
}

.work-title {
    margin-bottom: 8px;
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    color: var(--title-text-color);
}

.work-desc {
    font-size: 16px;
    line-height: 1.5;
}

/* Footer */
.footer {
    padding: 96px 0;
    background-color: var(--title-text-color);
}

.footer-logo {
    display: inline-block;
    margin-bottom: 8px;
    margin-right: 0;
}

.logo-item2 {
    color: var(--btn-background-color);
}

.footer-desc {
    font-size: 16px;
    line-height: 1.5;
    color: var(--footer-desc-color);
}

.footer-social-desc {
    color: var(--footer-desc-color);
    font-weight: 500;
    margin-bottom: 16px;
}

.footer-social-list {
    display: flex;
}

.footer-social-items {
    margin-right: 16px;
}

.footer-social-items:last-child {
    margin-right: 0;
}

.footer-social-link{
    display: flex;
    width: 40px;
    height: 40px;
    background-color: var(--footer-soc-bacground);
    border-radius: 50%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: center;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:is(:focus, :hover) {
    background-color: var(--footer-soc-hov-bacground);
}

.subscribe-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 24px;
}


.sub-form-input {
    display: flex;
    width: 100%;
    height: 40px;
    padding: 8px 16px;
    font-size: 12px;
    line-height: 2;
    align-items: center;
    letter-spacing: 0.04em;
    color: var(--primery-background-color);
    background-color: var(--title-text-color);
    border: 1px solid var(--sub-border-color);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-form-input:is(:hover, :focus) {
    border: 1px solid var(--link-color-hover);
}

.sub-form-button {
    display: flex;
    gap: 16px;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    background-color: var(--link-color);
    border: 1px solid var(--link-color);
    border-radius: 4px;
    box-sizing: border-box;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: var(--primery-background-color);
    font-family: 'Roboto';
    cursor: pointer;

    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-sub-icon {
    fill: var(--primery-background-color);
}

.sub-form-button:is(:hover, :focus) {
    background-color: var(--link-color-hover);
    border: 1px solid var(--link-color-hover);
  }

@media screen and (max-width: 767px) {
    .footer-container {
        margin-bottom: 72px;
    }
    
    .footer-logo {
        display: block;
        text-align: center;
        margin-bottom: 16px;
    }
    
    .footer-desc {
        width: 268px;
        margin: 0 auto;
    }

    .footer-social {
        margin-bottom: 72px;
    }

    .footer-social-list {
        justify-content: center;
    }

    .footer-input {
        margin-bottom: 16px;
    }

    .footer-social-desc {
        margin-bottom: 16px;
        text-align: center;
    }

    .subscribe-form {
        max-width: 396px;
        width: 100%;
    }
}

@media screen and (min-width: 768px) {
    .footer-flex {
        display: flex;
    }

    .footer-container {
        margin-right: 24px;
    }

    .footer-logo {
        margin-bottom: 16px;
    }

    .footer-desc {
        width: 264px;
    }
  
    .footer-social-desc {
        text-align: start;
    }

    .footer-social-desc {
        margin-bottom: 16px;
    }

    .sub-form-input {
        width: 264px;
    }
}
  
@media screen and (min-width: 768px) and (max-width: 1199px) {
    .footer-flex {
        width: 552px;
        flex-wrap: wrap;
    }
    
    .footer-container {
        margin-bottom: 72px;
    }

    .subscribe-container {
        display: flex;
        flex-wrap: nowrap;
        justify-content: start;
    }

    .sub-form-label {
        margin: 0;
        padding: 0;
    }
}

/* footer desktop */
@media screen and (min-width: 1200px) {
    .footer {
        padding: 100px 0;
    }

    .footer-container {
        margin-right: 120px;
    }

    .footer-social-link:is(:hover, :focus) {
        background-color: var(--footer-soc-hov-bacground);
    }

    .footer-social {
        margin-right: auto;
    }
}